<html lang="en">
<head>
    <title>Alpha for Astronomy Support Page</title>
</head>
<body style="margin-left: 10px; margin-right: 10px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
    <h1 style="padding-bottom: 20px">Alpha for Astronomy Support</h1>

    <h2 style="padding-bottom: 10px">Getting Started</h2>
<p>Alpha is an app designed for easy planning of astronomical observations. To create a plan, press the 'plus' button at the top right of your mobile device.<br></p>
<p>A plan requires four things: a location, a start date, an end date, and a target. <br>
    To select a target, scroll to the bottom of the 'New plan' sheet after pressing the plus button on the main screen and begin typing. Not sure where to start? Try typing 'galaxy' or 'nebula'.</p>
<h2 style="padding-bottom: 10px">Astronomical Data</h2>
<p>Alpha can calculate astronomical data of search results or your created plans. For better or for worse, this requires an internet connection. The loading times as of now are a bit slow. <br>
    Eventually, Alpha for Astronomy will pivot away from cloud-based calculations and allow offline use.
</p>
<h2 style="padding-bottom: 10px">Times</h2>
<p>Times in Alpha for Astronomy use a 24-hour format. When you are creating a plan and enter a location, the times displayed under the Weather section will be local to the entered location's times.<br>
    In contrast, start and end dates for a plan are currently in the device's local timezone. This is to allow some degree of offline support, as determining the time in another location requires an internet connection.
</p>
<h2 style="padding-bottom: 10px">Additional Support</h2>
<p>Please email alpha.for.astro@gmail.com with any questions or feedback. Thank you!</p>
</body>
</html>